.header-splash
  position fixed
  background red
  margin 1.5vw
  width 97vw
  height calc(100vh - 3vw)
  display flex
  justify-content center
  align-items center

  h1
  h2
    color white
    text-shadow 0 0 10px rgba(0, 0, 0, 0.25)

  h1
    responsive-font(50, 100, 5em)

  h2
    font-family font-body
    font-weight 300
    text-transform uppercase
    padding-top 10px
    responsive-font(15, 25, 2em)
    responsive-letter-spacing(3, 7, 0.2em)
