.header
  background white
  display flex
  justify-content center
  width 100%
  position fixed
  top 0
  left 0
  z-index 80
  responsive-height(60, 80, 80px)
  border-bottom 1px solid light

  &__logo
    margin -5px 0 0
    font-size 23px

    a
      border-bottom none
