.header-splash
  position fixed
  width 100vw
  height 100vh
  height: calc(var(--vh, 1vh) * 100)
  display flex
  justify-content center
  align-items center
  top 0
  left 0

  &__background
    bottom 2vw
    left 2vw
    right 2vw
    top 2vw
    z-index -1

  h1
  h2
    color white
    text-shadow 0 0 10px rgba(0, 0, 0, 0.25)

  h1
    responsive-font(40, 100, 5em)

  h2
    font-family font-body
    font-weight 300
    text-transform uppercase
    responsive-padding-top(0, 10, 10px)
    responsive-font(13, 25, 2em)
    responsive-letter-spacing(3, 7, 0.2em)
