main
  margin 0 auto
  max-width 900px
  padding 0 2rem 1.45rem
  padding-top 0

.layout:not(.layout--splash)
  margin-top 80px

.layout--splash
  margin-top 100vh
  background white
  position relative
  z-index 50
