main
  margin 0 auto
  max-width 1000px
  padding 0 2rem 1.45rem
  padding-top 0

.layout:not(.layout--splash)
  responsive-margin-top(55, 80, 80px)

.layout--splash
  margin-top 100vh
  background white
  position relative
  z-index 50

.layout.layout--no-margin
  margin-top 0
