.menu
  background white
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 999
  justify-content center
  align-items center
  display flex
  box-shadow 0 0 20px rgba(0, 0, 0, 0.1)

  responsive-font(25, 35, 30px)
  responsive-line-height(2.5, 3, 2)
  text-align center

  ul li a
    font-family font-headings
    border-bottom-width 4px
    font-weight 300

    &.current
      font-style italic

    &:focus
      border-color grey
