.menu
  background white
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  z-index 90
  justify-content center
  align-items center
  display none

  responsive-font(25, 35, 30px)
  responsive-line-height(2.5, 3, 2)
  text-align center

  ul li a
    font-family font-headings
    border-bottom-width 4px
    font-weight 300
