.menu
  &--main
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background light
    display flex
    justify-content center
    align-items center
    z-index 10
    width 100vw
    height 100vh
    visibility hidden
    opacity 0
    transition 400ms ease-in-out

  &--show
    visibility visible
    opacity 1

  &__pages
    font-family font-headings
    text-transform uppercase
    responsive-font(35, 60, 2em)
    responsive-letter-spacing(1, 5, 5px)
    responsive-line-height(1.8, 5, 2em)
    text-align center

  &__close
    position absolute
    top 5%
    right 5%
    background none
    outline none
    border none
    font-size 50px
    color green
    cursor pointer
