@import '../prism/*'

.post
  responsive-margin-vertical(30, 80, 5rem)

  &__title
    responsive-font(20, 50, 4em)
    responsive-letter-spacing(0.5, 2, 2px)
    line-height 1.5em
    margin 0.3em 0

  &__meta
    font-size 0.9em
    font-style italic
    color brown
    letter-spacing 0.5px

  &__content
    responsive-margin-vertical(10, 20, 1.5rem)

  &__intro p
    responsive-font(16, 22, 1.2rem)
    font-weight bold

  .gatsby-highlight
    responsive-margin-vertical(20, 30, 3em)
