.u-font
  &--medium
    responsive-line-height(1.8, 5, 2em)
    responsive-font(18, 25, 22px)

  &--large
    responsive-line-height(2.2, 7, 3em)
    responsive-font(24, 30, 28px)

  &--sans
    font-family font-body

  &--serif
    font-family font-headings

  &--light
    font-weight 300
