@import url('https://fonts.googleapis.com/css?family=Domine:700|Literata:400,400i,700,700i|Open+Sans:800&display=swap')

strong, b
  font-weight 700

a
  color green
  text-decoration none
  position relative

h1
h2
h3
h4
h5
  color dark
  font-family font-headings
  font-weight 800
  text-transform uppercase
  text-decoration none
  margin 0.5em 0

p
  font-family font-body
  font-weight 400
  color dark
  responsive-margin-vertical(25, 35, 2em)

em
  font-style italic

blockquote
  padding-left 20px
  border-left 8px solid brown

  p
    font-weight bold
    responsive-font(18, 22, 1em)
    responsive-line-height(1.8, 2.2, 2em)
    padding-top 7px
    padding-bottom 15px
