@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Playfair+Display&display=swap')

strong, b
  font-weight 700

a
  color dark
  text-decoration none
  position relative
  font-weight 800
  border-bottom 2px solid gold

h1
h2
h3
h4
h5
  color dark
  font-family font-headings
  font-weight 300
  text-decoration none
  margin 0.3em 0 0.5em

  a
    font-weight 300

h1
  responsive-line-height(1, 1.5, 1.8)
  responsive-font(35, 70, 3em)
  margin 0.2em 0

h2
  responsive-font(40, 70, 3em)
  margin-bottom 0.72em
  margin-top 0.2em

h3
  responsive-font(25, 45, 2em)
  margin-bottom 0.7em

p
  font-family font-body
  font-weight 400
  color grey
  responsive-margin-vertical(10, 20, 1em)

em
  font-style italic

blockquote
  padding-left 20px
  border-left 8px solid light

  p
    font-weight bold
    responsive-font(18, 22, 1em)
    responsive-line-height(1.8, 2.2, 2em)
    padding-top 7px
    padding-bottom 15px
