responsive-padding(min, max, fallback = null)
  if fallback
    padding fallback
  padding "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-padding-top(min, max, fallback = null)
  if fallback
    padding-top fallback
  padding-top "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-padding-bottom(min, max, fallback = null)
  if fallback
    padding-bottom fallback
    padding-bottom "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-padding-vertical(min, max, fallback = null)
  if fallback
    padding-top fallback
    padding-bottom fallback
  padding-top "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
  padding-bottom "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-padding-horizontal(min, max, fallback = null)
  if fallback
    padding-left fallback
    padding-right fallback
  padding-left "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
  padding-right "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
