responsive-font(min, max, fallback = null)
  if fallback
    font-size fallback
  font-size "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-line-height(min, max, fallback = null)
  if fallback
    line-height fallback
  line-height "calc(%sem + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)

responsive-letter-spacing(min, max, fallback = null)
  if fallback
    letter-spacing fallback
  letter-spacing "calc(%spx + (%s - %s) * ((100vw - 300px) / (1600 - 300)))" % (min max min)
